<div class="background">
    <% for (var index = 0; index < 5; index++) { %>
        <div id="section<%= index %>" class="section"></div>
    <% } %>
</div>

<script>
let scrollIndex = 0;
let previousScrollIndex = 0

window.addEventListener('scroll', handleScroll);

function handleScroll(e) {
    e.preventDefault();

    const sections = document.querySelectorAll('.section');
    const windowHeight = window.innerHeight;
    const scrollIndex = window.scrollY;

    previousScrollIndex += scrollIndex;

    if (previousScrollIndex > 500) {
        previousScrollIndex = 0
    }

    if (previousScrollIndex < 0) {
        previousScrollIndex = 500;
    }

    let sectionToShow = Math.floor(previousScrollIndex / 100);

    console.log(sectionToShow)

    sections.forEach(function(section, index) {
        let position = index - sectionToShow
        section.style.zIndex = 5 - Math.abs(position);
    });
}
</script>

<style>
    .section {
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: #fff;
      transition: background-color 0.5s ease;
    }

    #section1 { background-color: rgb(71, 136, 135); }
    #section2 { background-color: rgb(72, 188, 165); }
    #section3 { background-color: rgb(84, 206, 151); }
    #section4 { background-color: rgb(80, 196, 71); }
    #section5 { background-color: rgb(138, 215, 74); }
</style>