<html>
  <%- include('head') %>
  <body>
    <div class="content">
      <%- include('input') %>
      <%- include('background') %>
    </div>
  </body>
</html>

<style>
.content {
  height: 100vh;
  width: 100vw;
  
  overflow: hidden;
}
</style>